.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    @include text($font1, normal, bold);
    font-size: 12px;
    line-height: 20px;

    height: 60px;
    width: 200px;

    color: $color1;
    border-radius: $borderRad1;

    &--yellow {
        background-color: $color2;
    }

    &--transparent {
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-color: transparent;
    }

    @include media(1100px) {
        width: 150px;
        height: 50px;
    }

    @include media(550px) {
        width: 125px;
        height: 45px;
    }
}

.btn--intro {
    &:first-child {
        margin-right: 40px;

        @include media(550px) {
            margin-right: 20px;
        }

        @include media(320px) {
            margin: 10px 0 0 0;
            order: 2;
        }
    }
}

.btn--waved {
    position: relative;
    overflow: hidden;

    backface-visibility: hidden;
}

.btn--form {
    transition: background-color 0.5s ease;

    &.rejected {
        background-color: #db2929;
    }
}

.btn--book {
    width: 100%;
}

.btn--contact {
    flex: 1 1 48%;

    @include media(1024px) {
        flex: 1 0 100%;
    }
}