.burger {
    position: relative;
    top: 0;
    left: 0;

    z-index: 999;

    display: none;

    width: 45px;
    height: 35px;

    cursor: pointer;

    &:before, &:after {
        position: absolute;
        left: 0;

        content: '';

        width: 100%;
        height: 5px;

        background-color: $color1;

        transition: all 0.5s ease;
    }

    &:before {
        top: 10px;
    }

    &:after {
        bottom: 5px;
    }

    @include media(950px) {
        display: block;
    }
}

.burger--active:before {
    transform: rotate(45deg);
    top: 30px;
}


.burger--active:after {
    transform: rotate(-45deg);
    bottom: -1px;
}