.contacts {
    display: flex;
    justify-content: space-around;

    flex: 1 1 50%;

    @include media(1024px) {
        margin-bottom: 10px;
    }

    @include media(575px) {
        flex-direction: column;
        align-items: center;
    }
}

.contacts__item {
    display: flex;
    align-items: center;

    @include text($font1, normal, bold);
    font-size: 12px;
    line-height: 12px;

    color: rgba(51, 51, 51, 0.5);

    &--address {
        cursor: pointer;
        user-select: none;
    }

    &--phone {

    }

    &--email {

    }

    svg { margin-right: 10px; }

    &:last-child {
        @include media(575px) {
            margin-bottom: 0;
        }
    }

    @include media(575px) {
        margin-bottom: 10px;

        max-width: 185px;
        width: 100%;
    }
}

.contacts__input--hidden {
    position: absolute;
    top: -100%;
}