.gallery {
    width: 100%;

    min-height: 100vh;

    background-color: rgba(0, 0, 0, 0.9);

    @include media(1024px) {
        min-height: auto;
    }
}

.gallery__wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 100vh;

    @include media(1024px) {
        min-height: auto;
    }
}

.gallery__item {
    position: relative;

    flex: 1 1 33.33%;

    height: 260px;
    width: 100%;

    img {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    @include media(1024px) {
        flex: none;
    }

    @include media(768px) {
        height: 160px;
    }

    @include media(550px) {
        height: 120px;
    }
}

