.intro {
    @include bgBlack;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    padding-top: 100px;

    background: url('/assets/img/header/bg.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;

    @include media(1320px) {
        padding-top: 90px;
    }

    @include media(1100px) {
        padding-top: 80px;
    }

    @include media(768px) {
        background-attachment: scroll;
    }

    @media (max-height: 550px) {
        padding-top: 40px;
    }
}

.intro__body {
    flex: 1;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 0 25px;
}

.intro__btns {
    display: flex;
    justify-content: center;

    @include media(320px) {
        flex-direction: column;
    }
}

.intro__content {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex: 1;

    max-width: 851px;

    padding: 0 25px;

    border-left: 1px solid $colorSec3;
    border-right: 1px solid $colorSec3;

    &:after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 50%;

        transform: translateX(-50%);

        height: 86%;
        width: 1px;

        background-color: $colorSec3;

        @include media(1100px) {
            height: 88%;
        }

        @include media(450px) {
            display: none;
        }
    }

    @include media(450px) {
        border: 0;
    }
}

.intro__ex-text {
    position: absolute;
    top: 50%;
    left: 0;

    writing-mode: vertical-lr;
    transform: translateY(-50%) rotate(180deg);

    @include text($font1, normal, bold);
    font-size: 12px;
    line-height: 12px;

    text-align: center;
    color: $color1;

    @include media(950px) {
        font-size: 11px;
        line-height: 11px;
    }

    @include media(768px) {
        display: none;
    }
}