.notification {
    position: absolute;
    z-index: 9999;

    max-width: 115px;
    width: auto;
    
    @include text($font2, normal, 500);
    font-size: 12px;
    line-height: 12px;

    padding: 5px;
    background-color: $colorSec2;

    opacity: 0;
    transition: opacity 0.7s ease-out;

    span {
        position: relative;
        top: 0;
        left: 0;

        @include noSelect;
    }

    &__top, &__bottom {
        &:after {
            position: absolute;
            content: '';

            left: 5px;
        
            border: 10px solid transparent;
        }
    }
    
    &__bottom {
        &:after {
            top: -20px;
            border-bottom: 10px solid $colorSec2;
        }
    }

    &__top {
        &:after {
            bottom: -20px;
            border-top: 10px solid $colorSec2;
        }
    }

    &.show-fade {
        opacity: 1;
    }
}