.section {
    display: flex;
    align-items: center;

    position: relative;

    min-height: 100vh;
    padding: 100px 0;

    overflow-x: hidden;

    @include media(1024px) {
        min-height: 0;

        padding: 100px 0;
    }

    @include media(400px) {
        padding: 50px 0;
    }

    &--black {
        @include bgBlack;

        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;

        @include media(768px) {
            background-attachment: local;
        }
    }

    &--book, &--private {
        @include media(400px) {
            padding: 75px 0 100px 0;
        }
    }
}

.section__content {
    width: 100%;
    max-width: 600px;

    text-align: center;

    &--white {
        margin-right: 90px;

        @include media(1200px) {
            margin-right: 65px;
        }

        @include media(1024px) {
            order:2;
        }
    }

    &--black {
        margin-left: 90px;

        @include media(1200px) {
            margin-left: 65px;
        }
    }

    &--white, &--black {
        @include media(1024px) {
            margin: 50px 0 0 0;
        }

        @include media(400px) {
            margin: 25px 0 0 0;
        }
    }

    &--contact, &--delicious {
        margin-bottom: 50px;
    }

    &--modal {
        margin: 0;
    }

    @include media(1200px) {
        max-width: 500px;
    }

    @include media(550px) {
        max-width: 350px;
    }
}


.section--master {
    background-image: url('/assets/img/master/bg.jpg');
}

.section--chocolate {
    @include media(400px) {
        padding: 100px 0;
    }
}

.section--private {
    background-image: url('/assets/img/chocolate/bg.jpg');
}

.section__illustration {
    position: relative;

    width: 475px;
    height: 475px;

    border-radius: $borderRad1;
    filter: $filter1;

    @include media(1200px) {
        height: 0;
        padding-bottom: 40%;
    }

    @include media(1024px) {
        width: 300px;
        height: 250px;

        padding-bottom: 0;
    }

    @include media(550px) {
        width: 250px;
        height: 250px;
    }

    @include media(400px) {
        width: 200px;
        height: 200px;
    }

    & img {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: 50% 50%;

        border-radius: $borderRad1;
    }
}

.illustration {
    &--right {
        @include square(right);
    }

    &--left {
        @include square(left);
    }
}

.illustration--private {

    &-about {
        position: absolute;
        bottom: 0;

        display: flex;
        justify-content: center;

        width: 17%;
        height: 100%;

        background-color: $color3;

        span {
            @include text($font2, normal, bold);
            font-size: 20px;
            line-height: 12px;

            text-indent: 20px;
            text-transform: uppercase;

            color: $color1;

            margin-top: 10px;
            writing-mode: vertical-lr;

            @include media(1024px) {
                font-size: 18px;
                line-height: 18px;

                margin-top: 0px;

                writing-mode: horizontal-tb;
                text-indent: 0;
            }

            @include media(550px) {
                font-size: 16px;
                line-height: 16px;
            }

            @include media(400px) {
                font-size: 12px;
                line-height: 12px;
            }
        }

        @include media(1024px) {
            width: 100%;
            height: 17%;

            align-items: center;
        }
    }

    &--left {
        margin-right: 80px;
    
        @include media(1024px) {
            margin: 0 0 50px 0;
        }
        
        @include media(400px) {
            margin: 0 0 25px 0;
        }
    }
}

.illustration--private-about {
    &--left {
        right: 0;

        @include media(1024px) {
            justify-content: flex-start;
            padding-left: 20px;
        }
    }

    &--right {
        left: 0;
        
        span {
            writing-mode: vertical-rl;
    
            transform: rotate(180deg);
    
            @include media(1024px) {
                writing-mode: horizontal-tb;
    
                transform: rotate(0deg);
            }
        }
    
        @include media(1024px) {
            justify-content: flex-end;
            padding-right: 20px;
        }
    
        @include media(400px) {
            margin-right: 0;
        }
    }
}

.section__footer {
    position: absolute;
    bottom: -60px;

    @include text($font1, normal, normal);
    font-size: 12px;

    color: rgba(51, 51, 51, 0.5);

    @include media(550px) {
        max-width: 350px;
        text-align: center;

        line-height: 16px;

        padding: 0 20px;
    }

    &--private {
        color: rgba(255, 255, 255, 0.5);
    }
}