.text {
    @include text($font1, normal, normal);
    font-size: 14px;
    line-height: 24px;

    &--head {
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;

        margin-bottom: 25px;

        @include media(550px) {
            font-size: 16px;
            line-height: 24px;
        }

        @include media(400px) {
            font-size: 14px;
            line-height: 20px;

            margin-bottom: 15px;
        }
    }

    &--black {
        color: $color3;
    }

    &--white {
        color: $color1;

        p {
            opacity: 0.9;
        }
    }

    &--delicious {
        margin-bottom: 0;
    }
}